/*----------Header---------*/
#header {
    position: sticky;
    top: 0;
    z-index:10 ;
    height: 75px;
    background-color: rgb(7, 26, 109);
}
.image-box .fa{
    text-align: center;
    height: 25px;
    width: 25px;
    color: #fff !important;
    padding: 4px;
    display: inline;
}
.image-box li {
    color: #fff;
    display: inline;
    text-align: center;
}
.image-box ul {
    padding: 15px 0;
    z-index: 2;
    bottom: 0;
    left: 50%;  
}
.phone{
    text-align: center;
    margin-left: 375px;
    font-size: 16px;
}
.email{
    text-align: center;
    margin-left: 100px;
}
.clock{
    text-align: center;
    margin-left: 400px;
    margin-right: 75px;
}
.fa-google-plus{
    margin-left:25px;
}
.fa-google-plus{
    margin-left: 25px;
}
.fa-twitter{
    margin-left: 25px;
}
.fa-linkedin{
    margin-left:25px;
}
/*---------Navigation----------*/
#nav-bar{
    padding-top: 0px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes textup{
     10%{
         transform: translateY(0px);
     }
     100%{
         transform: translateY(0px);
     }
}
#brand {
    text-align: center;
}
#brand h1{
    color:  rgb(7, 26, 109);
}

.navbar-brand h1 {
    font-size: 60px;
    font-family:sans-serif;
}
.navbar-nav li {
    padding: 0 10px;

}

.navbar-nav li a{
    float: right;
    text-align: left;
    
}
.navbar-nav button{
    background-color: rgb(7, 26, 109);
    margin-right: 150px;
    height: 50px;
    width: 150px;
    text-align: center;  
    border: 0px;
    transition: all .2s;
}
.navbar-nav button:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgb(7, 26, 109);
}
#nav-bar ul li a:hover {
    color: #007bff! important;
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none! important;

}
.nav-link{
    color: rgb(68, 67, 67) !important;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/*---------Slider---------*/
#slider{
        left: 0;
        top: 0;
animation: textup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes textup{
     10%{
         transform: translateY(0px);
     }
     100%{
         transform: translateY(0px);
     }
}
#slider img{
   width: 100%;
   animation: textup 12s linear infinite;
   transform: translateY(100px);
}
.carousel-caption{
     width: 600px;
     position: absolute;
     top: 400px;
     left: 100px;
     color: #fff;
     animation: textup 12s linear infinite;
     transform: translateY(100px);
}
@keyframes textup{
     10%{
         transform: translateY(0px);
     }
     100%{
         transform: translateY(0px);
     }
}
.carousel-caption h6{
    margin-bottom: 10px;
    color: rgb(218, 214, 214);
}
.carousel-caption h1{
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 75px;
}
.carousel-caption button{
    background-color:rgba(7, 26, 109);
    color: #fff;
    height: 70px;
    width: 170px;
    border: 0;
}
/*---------Promo------------*/
#promo{
    background-image:linear-gradient(rgba(7, 26, 109),rgba(7,26,109));
    background-size:cover ;
    background-position: center;
    color:#fff !important;
    background-attachment: fixed;
    text-align: center;
    padding:21px;
    margin-top:10px;
    font-family: sans-serif;
    font-size: 14px;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes textup{
     10%{
         transform: translateY(0px);
     }
     100%{
         transform: translateY(0px);
     }
}
#promo h3 {
    font-weight: 600;
    font-size: 25px;
}
#promo-img{
    margin-top: 10px;
    margin-left: -15px;
    animation: imageup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes imageup{
     10%{
         transform: translateY(0px);
     }
     100%{
         transform: translateY(0px);
     }
}
#btn{
    background-color: #fff;
    height: 50px;
    width: 150px;
    color:  rgb(7, 26, 109);
    text-align: center;
    font-weight: 600;
    border: 0px;
}
#btn:hover {
    background-color: rgb(7, 26, 109);
    color: white;
  }
  /*----------About----------*/
#about{
    margin-top: 115px;
    margin-left: 400px;
    margin-right: 50px;
    animation: imageup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes imageup{
     10%{
         transform: translateY(0px);
     }
     100%{
         transform: translateY(0px);
     }
}
#content{
text-align: left;
margin-left: -150px;
}
#content h2{
    color:rgb(7, 26, 109);
    font-size: 45px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#content h3 {
    color: rgb(68, 67, 67) !important;
    padding-bottom: 10px;
}
#content div{
    margin-top: 20px;
    background-color: rgb(7, 26, 109); 
    height: 3px;
    width: 75px;
}
#content p{
    margin-top: 25px;
    font-size: 14px;
    text-align: justify;

    
}
#content button{
    margin-top: 25px;
    border-radius: 50px 50px 50px 50px;
    border: 0px;
    width: 45px;
    height: 45px;
    text-align: center;
    font-weight: 600;
    
}
#content button:hover {
    background-color: rgb(7, 26, 109);
    color: white;
  }

#content h4{
    margin-top: 25px;
    position: absolute;
    z-index: 0;
    font-weight: 600;
    display: inline-block;
    margin-left: 40px;
}
#content h4:hover {
    color: rgb(7, 26, 109);
  }
#data{
    margin-top: 10px;
    margin-left: 82px;
}  
/*--------service--------*/
#now {
    margin-top: 100px;
    padding: 40px;
    background-image:linear-gradient(rgb(190, 188, 188),rgb(190, 188, 188)),url(images/dna.jpg);
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes textup{
     10%{
         transform: translateY(0px);
     }
     100%{
         transform: translateY(0px);
     }
}
.head h4{
    padding-top: 100px;
    text-align: center;
    color: rgb(68, 67, 67) !important;
}
.head h2{
    margin-top: 25px;
    text-align: center;
    color: rgb(7, 26, 109);
    font-weight: 600;
}
#span1{
    background-color:rgb(7, 26, 109);
    height: 3px;
    width: 100px;
    margin-top: 10px;
    left: 890px;
    text-align: center;
    position: absolute;
}
#card1{
    margin-top: 75px;
    background-color: #fff;
    transition: 0.3s;
    float: left;
    margin-left: 100px;
}
#card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#card2{
    margin-top: 75px;
    background-color: #fff;
    transition: 0.3s;
    float: left;
    margin-left: 100px;
}
#card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#card3{
    margin-top: 75px;
    background-color: #fff;
    transition: 0.3s;
    float: left;
    margin-left: 100px;
}
#card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
    padding: 14px 18px;
}
#card1 figure{
    background-color: rgb(7, 26, 109); ;
}
#card1 img {
    width: 100%;
    background-color: #fff;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#card1 img:hover{
    width: 100%;
    opacity: .5;
    color:  rgb(7, 26, 109);
}
#card2 figure{
    background-color: rgb(7, 26, 109); 
}
#card2 img {
    width: 100%;
    background-color: #fff;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#card2 img:hover{
    width: 100%;
    opacity: .5;
    color:  rgb(7, 26, 109);
}
#card3 figure{
    background-color: rgb(7, 26, 109); ;
}
#card3 img {
    width: 100%;
    background-color: #fff;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#card3 img:hover{
    width: 100%;
    opacity: .5;
    color:  rgb(7, 26, 109);
}
.card-title{
    margin-top: 10px;
    font-weight: 600;
    color: rgb(7, 26, 109);
    font-size: 20px;
    font-family:sans-serif; 
    text-align: center; 
}
.card-text{
    margin-top: 20px;
    font-family:sans-serif;
    text-align: justify;
    
}
#card1 a{
    border: 0px;
    color:rgb(7, 26, 109);
    margin-top: 20px;
    margin-left: 125px;
    font-weight: 600;
    background-color: #fff;
}
#card2 a{
    border: 0px;
    color:rgb(7, 26, 109);
    margin-top: 20px;
    margin-left: 125px;
    margin-bottom: 25px;
    font-weight: 600;
    background-color: #fff;
}
#card3 a{
    border: 0px;
    color:rgb(7, 26, 109);
    margin-top: 20px;
    margin-left: 125px;
    font-weight: 600;
    background-color: #fff;
}
.btn-service{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 800px;
    font-family:sans-serif;
    background-color:  rgb(7, 26, 109);
    height: 70px;
    width: 170px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    border: 0px;
    transition: all .2s;
}
.btn-service:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgb(7, 26, 109);
}
/*----------------Blogs & News-------------------*/
.blog{
    padding: 75px;
    text-align: center;
    background-color: rgb(246, 246, 246);
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes textup{
     10%{
         transform: translateY(0px);
     }
     100%{
         transform: translateY(0px);
     }
}
.blog-head h4{
    text-align: center;
    font-family:sans-serif;
    color: rgb(68, 67, 67) !important;
}
.blog-head h2{
    margin-top: 25px;
    text-align:center;
    font-family:sans-serif;
    color:rgb(7, 26, 109);
    font-weight: 600;
}
#span2{
    background-color:rgb(7, 26, 109);
    height: 3px;
    width: 100px;
    margin-top: 10px;
    left: 890px;
    text-align: center;
    position: absolute;
}
#blogs{
    background-color: #fff;
}
#blogs figure{
    background-color: rgb(7, 26, 109); 
}
#blogs img{
    background-color: #fff;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#blogs img:hover{
    opacity: .5;
    color:  rgb(7, 26, 109);
}
#blogs{
    margin-top:50px ;
    margin-left:100px;
}
#blogs h6{
    margin-top: 25px;
    text-align: left;
}
#blog3-img{
    height: 275px;
}
#blogs a{
    border: 0px;
    color:rgb(7, 26, 109);
    margin-top: 20px;
    font-weight: 600;
    text-align: left;
    float: left;
    background-color: #fff;
} 
#text{
    margin-top: 70px;
    text-align: center;
    margin-left: 675px;
    margin-bottom: 70px;
}
#span3{
    color: rgb(7, 26, 109);
}
/*---------Promo2-----------*/
.promos{
    padding: 40px;
    background-color:rgb(7, 26, 109); 
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes textup{
     10%{
         transform: translateY(0px);
     }
     100%{
         transform: translateY(0px);
     }
}
.promos h2{
    color: #fff;
    text-align: center;
    font-weight: 600;
}
.promos p{
    color: #fff;
    text-align: center; 
}
.promos button{
    background-color: #fff;
    height: 50px;
    width: 150px;
    margin-left: 870px;
    color:  rgb(7, 26, 109);
    text-align: center;
    font-weight: 600;
    border: 0px;
}
.promos button:hover {
    background-color: rgb(7, 26, 109);
    color: white;
  }
  /*--------Abouts---------*/
  .abouts{
    padding-top: 50px;
    padding-left: 280px;
    padding-right: 280px;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes textup{
     10%{
         transform: translateY(0px);
     }
     100%{
         transform: translateY(0px);
     }
}
  #mrc h1{
      text-align: center;
      font-weight: 600;
      color: rgb(7, 26, 109);
  }
  #mrc p{
      margin-top: 25px;
      text-align: left;
      line-height: 25px;
  }
  #mrc h4{
      margin-top: 25px;
      font-size: 18px;
      color: rgb(7, 26, 109);
      font-weight: 800;
  }
#mrc .fa{
    display: inline;
    padding: 4px;
    color: rgb(141, 138, 138);
}
#mrc .fa:hover{
    color:rgb(7, 26, 109);
}
#mrc ul{
    padding: 15px 0;
    z-index: 2;
    bottom: 0;
}
#mrc li{
    display: inline;
}
#links{
    margin-top: 10px;
    padding-left: 100px;
}
#links h4{
    color:rgb(7, 26, 109);
    font-weight: 600;
    font-size: 20px;
}
#links p{
    padding-top: 20px;
}
#services{
    margin-top: 10px;
    padding-left: 50px;
}
#services h4{
    color:rgb(7, 26, 109);
    font-weight: 600;
    font-size: 20px;
}
#services p{
    padding-top: 20px;
}
#menu{
    margin-top: 10px;
    margin-left: -75px;
}
#menu h4{
    color:rgb(7, 26, 109);
    font-weight: 600;
    font-size: 20px;
}
#menu p{
    padding-top: 20px;
}
/*--------Footer---------*/
.footer{
    margin-top: 50px;
    padding: 20px;
    background-color:rgb(7, 26, 109);
    color: #fff;
}
.footer p{
    text-align: center;
    margin-bottom: 0px;
}